
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Developercommon.cshtml";
}
<script>
    $(document).ready(function () {
        $("#changePassword").click(function () {
            var curPass = $("#curPass").val().trim();
            var newPass = $("#newPass").val().trim();
            var confPass = $("#confPass").val().trim();
            var result = true;
            $(".err").remove();
            if (curPass.length == 0) {
                result = false;
                $("#curPass").after("<span class='text-warning err'>Please Enter Current Password");
            }
            else if (curPass == newPass) {
                result = false;
                $("#newPass").after("<span class='text-warning err'>You are enterd Current Password as a new password");
            }
            //validating for password
            if (newPass.length == 0) {
                result = false;
                $("#newPass").after("<span class='text-warning err'>Please Enter New Password");
            } else if (newPass.length < 8) {
                result = false;
                $("#newPass").after("<span class='text-warning err'>Password should be more than 8 charcters.</span>");
            }
            if (confPass.length == 0) {
                result = false;
                $("#confPass").after("<span class='text-warning err'>Please Enter Confirm Password");
            } else if (newPass != confPass) {
                result = false;
                $("#confPass").after("<span class='text-warning err'>Password doesn't match with new password</span>");
            }
            return result;
        });
        var x = $("#presponse").text().trim();
        if (x.length > 0)
            $("#presponse").fadeIn(3500).delay(3500).fadeOut(1500);
    });
</script>
<style>
    .chanpass{
        background-image:linear-gradient(124deg,#e81cd0,#ec1c1c,#172de7);
        min-height:610px;
    }
    .form {
        box-shadow:0px 0px 12px blue;
        background:#5d50509b;
    }
</style>
<div class="row mr-0 py-5 chanpass">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-5 form">
        <form action="/Developer/ChangePassword" method="post">
            <h1 class="text-center text-primary"> Change Password</h1><br />
            <p id="presponse" class="bg-warning text-center h4 " style="min-height:40px; width:100%;display:none;">@ViewBag.msg</p>
            <input type="password" class="form-control" name="CurPass" placeholder="Current Password" id="curPass" /><br />
            <input type="password" class="form-control" name="NewPass" placeholder="New Password" id="newPass" /><br />
            <input type="password" class="form-control" name="ConfPass" placeholder="Confirm Password" id="confPass" /><br />
            <button class="btn btn-success btn-block" type="submit" id="changePassword">Change Password</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

