
@{
    ViewBag.Title = "RequestForProjects";
    Layout = "~/Views/Shared/Developercommon.cshtml";
}
<script>
    $(document).ready(function () {
        $("#requestAProject").click(function () {
            var projectID = $("#projectID").val().trim();
            var title = $("#title").val().trim();
            var amount = $("#amount").val().trim();
            var expectedDate = $("#expectedDate").val().trim();
            var remark = $("#remark").val().trim();
            $('.err').remove();
            var result = true;
            if (projectID.length == 0) {
                result = false;
                $("#projectID").after("<span class='err'>Enter Project ID.</span>");
            }
            if (title.length == 0) {
                result = false;
                $("#title").after("<span class='err'>Enter Title.</span>");
            }
            if (amount.length == 0) {
                result = false;
                $("#amount").after("<span class='err'>Enter amount.</span>");
            }
            if (expectedDate.length == 0) {
                result = false;
                $(".expectedDate").after("<span class='err'>Enter expected date of project complete,</span>");
            }
            if (remark.length == 0) {
                result = false;
                $("#remark").after("<span class='err'>Enter remark.</span>");
            }
            $('.err').addClass("text-danger");
            return result;
        });
    });
</script>
<style>
    .reque {
        background-image: url('../../content/images/reque.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .form {
        background-image: linear-gradient(165deg,#ef4444,#67d4ec,#aaab27);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="row mr-0 py-5 reque">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-3 form" style="box-shadow:0px 0px 14px red;">
        <form action="/Developer/RequestForProjects" method="post" class="p-3">
            <h2 class="text-center text-dark">Request for Projects</h2>
            <p id="presponse" class="bg-warning text-center h4 " style="min-height:40px; width:100%;display:none;">@ViewBag.msg</p>
            <input type="hidden" name="postedby" value="@ViewBag.cid" />
            <input type="number" class="form-control" name="ProjectId" id="projectID" value="@Request["pid"]" readonly /><br />
            <input type="number" class="form-control" name="Subject" id=""  /><br />

            <input type="text" class="form-control" name="ProjectTitle" id="title" placeholder="Subject" /><br />
            <input type="number" class="form-control" name="Amount" id="amount" placeholder="Amount(I will work in this amount.)" /><br />
            <div class="form-control expectedDate">
                Expected submission date:
                <input type="date" class="border-0" name="ExpectedSubmissionDate" id="expectedDate" />
            </div><br />
            <textarea id="remark" name="Remark" placeholder="Remark" class="form-control" style="resize:none;" rows="4"></textarea><br />
            <button class="btn btn-success" type="submit" id="requestAProject">Submit Request</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
