
@{
    ViewBag.Title = "UploadProject";
    Layout = "~/Views/Shared/Developercommon.cshtml";
}
@using Techwork.Models;
@model IEnumerable<Client_Table>
<style>
    .uppro {
        background-image: url('../../content/images/uploadproject.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<script>
    $(document).ready(function () {
        $("#upload").click(function () {
            var title, description, upfile, result = true;
            title = $("#title").val().trim();
            description = $("#description").val().trim();
            upfile = $("#upfile").val().trim();
            $(".err").remove();
            if (title.length == 0) {
                result = false;
                $("#title").after("<span class='text-warning err'>Enter Title</span>");
            } else if (title.length < 12) {
                result = false;
                $("#title").after("<span class='text-warning err'>Describe Title </span>");
            }
            if (description.length == 0) {
                result = false;
                $("#description").after("<span class='text-warning err'>Describe about project</span>");
            } else if (description.length < 50) {
                result = false;
                $("#description").after("<span class='text-warning err'>Write more about project.</span>");
            }
            if (upfile.length == 0) {
                result = false;
                $("#upfile").after("<span class='text-warning err'>Choose document.</span>");
            }
            return result;
        });
        $(".custom-file-input").change(function () {
            var filename = $(this).val().split("\\").pop();
            $(".custom-file-label").html(filename);
        });
    });
</script>
<div class="row mr-0 uppro">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 py-5 px-5 my-5 new" style="box-shadow:0px 0px 12px blue;background:#c1aeae59;">
        <form action="/Developer/UploadProject" method="post" enctype="multipart/form-data">
            <h1 class="text-center text-success">Upload Project</h1><br />
            <p id="presponse" class="bg-warning text-left h4 " style="min-height:40px; width:100%;display:none;">@ViewBag.msg</p>
            <select name="thisclient" class="form-control">
                <option value="">Select your client</option>
                @{ 
                    foreach (Client_Table ct in Model)
                    {
                        <option value="@ct.Email">@ct.Name (@ct.Email) </option>
                    }
                 }
            </select><br />
            <!--Title-->
            <input type="text" name="Title" id="title" class="form-control" placeholder="Topic/Title of Project" />
            <br />
            <!--Description-->
            <textarea class="form-control" id="description" name="Description" placeholder="Describe about project....." rows="6" style="resize:none;"></textarea><br />
            <div class="custom-file">
                <label class="custom-file-label">Select document:</label>
                <input type="file" name="upfile" class="custom-file-input" id="upfile">
            </div> <br><br />
            <button class="btn btn-block btn-success" type="submit" id="upload">Upload</button>
        </form>
    </div>
    <div class="col-sm-4"></div>

</div>
